@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: GmarketSansMedium, sans-serif;
}

.btn {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    
}
nav ul li {
    list-style: none;
    height: 50px;
    margin: 15px 0 0 30px;
    float: left;
    color: white;
}

article p {
    clear: both;
}

.btn:hover {
    background-color: darkgray;
    letter-spacing: 7px;
    transition: all 0.5s ease-in;
}

main {
    padding: 20px;
}

h1 {
    margin: 10px 0px 10px;
    font-size: 50px;
}

.profile {
    margin: 10px 0 20px 0;
    width: 350px;
    height: 420px;
    overflow: hidden;
}

#photo {
    width: 350px;
    height: 420px;
    transition: all 1.5s;
}

#photo:hover {
    transform: scale(1.2);
}


.detail {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

section {
    margin-bottom: 0px;
    border: 1px;
    border-color: black;
}

article p {
    font-size: 30px;
    margin: 20 0 20 0;
}

.one ul {
    padding: 0;
}

.one li {
    list-style: none;
}

footer {
    background-color: #d3d3d3;
    width: 100%;
    height: 80px;
    padding-top: 50px;
}

footer p {
    margin: 0 0 0 25px;
}

.empty {
    margin-top: 200px;
}